@import "tailwindcss";

:root {
  --bg: #07090d;
  --fg: #e7ebf0;
}

body {
  background: var(--bg);
  color: var(--fg);
  font-family: var(--font-geist-sans), Arial, sans-serif;
}

.font-kfgq {
  font-family: "Noto Naskh Arabic", "Amiri", serif;
}

.font-amiri {
  font-family: var(--font-amiri), serif;
}

.font-scheherazade {
  font-family: var(--font-scheherazade), serif;
}

.slider {
  accent-color: #45a851;
}
